section {
  margin-bottom: 40px;
}

h6,
h3,
h1 {
  margin: 5px 0;
}

.App {
  /* text-align: center; TESTINGAL */
}

.firstSection {
  width: 100%;
}

.firstSectionContainer {
  display: flex;
  flex-direction: row;
}

.firstIframe {
  width: 50%;
  height: 400px;
  margin-left: 40px;
}

.projectInfo {
  text-align: start;
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* TESTINGAL -> Check css not in use */
